<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1 id="about-logo" class="logo">Rap lyricist</h1>
            <h4>generates <strong>hip-hop</strong> lyrics</h4>
            <h4>with a <a href="https://en.wikipedia.org/wiki/Language_model">Markov language model</a></h4>
            <h4>trained with extracts from</h4>
            <div id="tRR"><a href="http://www.therightrhymes.com" target="_blank">The Right Rhymes</a></div>
        </div>
    </div>
</section>