<script>
    function lyricsAPI(url, method, data, success, error) {
        if (!data)
            data = {};
        requestUrl = $SCRIPT_ROOT + '/' + url;
        $.ajax({
            url: requestUrl,
            type: method,
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: success,
            error: error
        });
    }
    $(document).ready(function() {
      $.ajaxSetup({ cache: false });
    });
    $('.api-upvote').click(function() {
        id = $(this).attr('data-id');
        url = 'upvote/' + id;

        lyricsAPI('upvote/' + id, 'PUT', {}, updateValues(),
        function(jqXHR, textStatus, errorThrown) {
            alert('Error: ' + errorThrown);
        });
        return false;
    });
    $('.api-downvote').click(function() {
        id = $(this).attr('data-id');
        url = 'downvote/' + id;

        lyricsAPI('downvote/' + id, 'PUT', {}, updateValues(),
        function(jqXHR, textStatus, errorThrown) {
            alert('Error: ' + errorThrown);
        });
        return false;
    });
    function updateValues() {
        var $lyricText = $('#lyric_text'),
            $wackButton = $('.wack'),
            $dopeButton = $('.dope'),
            $upvote = $('.api-upvote'),
            $downvote = $('.api-downvote'),
            $donut = $('#donut'),
            $statsTotal =  $('#stats_total'),
            $statsUpCount = $('#stats_up_count');

        $lyricText.fadeOut();
        $wackButton.fadeOut();
        $dopeButton.fadeOut();
        $donut.fadeOut();
        $statsTotal.fadeOut();
        $statsUpCount.fadeOut();

        $.getJSON($SCRIPT_ROOT + '/getNewLyric', {}, function(data) {
            $lyricText.html(data.text).fadeIn();
            $wackButton.fadeIn();
            $dopeButton.fadeIn();
            $upvote.attr('data-id', data._id);
            $downvote.attr('data-id', data._id);
        },
        function(jqXHR, textStatus, errorThrown) {
            alert('Error: ' + errorThrown);
        });

        $.getJSON($SCRIPT_ROOT + '/getStats', {}, function(data) {
            $statsTotal.html(data.totalCount).fadeIn();
            $statsUpCount.html(data.upCount).fadeIn();
            $donut.children("svg:first").remove();
            $donut.fadeIn();
            drawDonutChart(
                '#donut',
                data.percentage,
                230,
                230,
                ".35em"
            );
        },
        function(jqXHR, textStatus, errorThrown) {
            alert('Error: ' + errorThrown);
        });

        return false;
    }
</script>